* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-image: url(https://i.postimg.cc/C5sRSDdr/7922-AAAD-011-F-44-BB-8309-B1-AA8-F6-ABC56.jpg);
    font-family: sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0 0; /* Hur lång/bred sidan ska vara */
    display: flex;
    justify-content: center;
    justify-content: space-around;
    }   

header {
        position: relative;
        top: -50px;
    }

.länk {
    position: relative;
    bottom: 200px;
}

.länk button {
    width: 150px;
    background: none;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.länk button:hover {
    cursor: pointer;
    color: #c00000;
    text-shadow: 0 0 10px black;
  }

.lösenord {
    position: relative;
    bottom: 100px;
}

p {
    letter-spacing: 2px;
    font-size: 20px;
    color: black;
    text-shadow: 0 5px 10px #c00000;
   
}